.App{
  display: flex;
}

.App.is-mobile{
  flex-direction: column;
}

.App.is-mobile .button-wrapper button{
  min-width: 80px;
  margin-right: 10px;
}

.App.is-mobile .button-wrapper{
  position: relative;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: scroll;
}

.button-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 180px;
  padding: 10px;
  flex:1;
}

.button-wrapper button{
  width: 100%;
  padding: 12px 0;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 8px;
  cursor: pointer;
}

.button-wrapper button:hover,
.button-wrapper button:active{
 background-color: #ededed;
  border: 1px solid transparent;
  transition: .3s;
}

.text-box{
  flex:1;
  padding: 0 10px;
}

